<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="SISTEM_RESIK_LAPOR.Properties.Settings.DBResikLaporADOConnectionString"
            connectionString="Data Source=LAPTOP-7BCU6RBN\TASYAMAULIDA;Initial Catalog=DBResikLaporADO;Integrated Security=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>